<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
  <add name="UsersConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
         AttachDBFilename=C:\Users\diego\Documents\GroupProjectZip\GroupProjectZip\COP4226-Group-Project\GroupProject7\DataDirectory\BookStore.MDF; 
         Integrated Security=True"/>
  <add name="GroupProject7.Properties.Settings.BookStoreConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataDirectory\BookStore.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
 </connectionStrings>
</configuration>
